.team-box {
  
  width: 90px;
  height: 90px;
  padding: 5px;
  font-size: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  color: #000;
  font-weight: bold;
  /* The next line breaks words so they don't get out of the boundaries of the button */
  word-break: break-word;
}

.red {
background-color: red;
border: 2px solid red;
}

.green {
background-color: #008000;
border: 2px solid #008000;
}
.team-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  justify-items: center;
  margin: 20px 10px;
  column-gap: 5px;
  row-gap: 20px;
}
