

.card-top {
    display: flex;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.small-team-btn {
    width: 4em;
    height: 4em;
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    text-align: center;
    word-break: break-word;
    padding: .5em; 
    font-size: .9em;
}

.spacer {
    height: 50px;
}