table,
th {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 10px;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* #team-info  */

thead tr {
  background-color: #ffc0cb;
}

th {
  padding: 5px;
}

.color-square {
  border: 2px solid #ffc0cb;
  background: #ffc0cb;
  width: 5px;
  height: 5px;
  margin-right: 10px;
}

.name-column {
  display: flex;
  align-items: center;
}

.number-align {
  text-align: right;
}
