/* Styles for the logo */
.logo-container {
    display: flex;
    align-items: center;
    width: 10%;
}

.logo {
    width: 6vh;
    height: 6vh;
    text-align: left;
}

/* Styles for the header */
.App-header {
    background-color: #ee4434; /* This is the brand colour of CYF */
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 5vmin);
    color: white;
}